/* .video {
  width: 50%;

  height: 30%;
} */

.full-image,
.landing,
.main-img {
  width: 100%;
}

.show-title-main {
  position: absolute;
  top: 80%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
}

.full-image {
  position: relative;
}
