.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  align-items: center;
}

.nav {
  height: 10%;
  background-color: #00171f;
  position: sticky;
}
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  cursor: pointer;
}

.nav-text,
.app-name {
  color: white;
}
.nav-text:hover {
  color: #007ea7;
}
.app-name,
.right-nav {
  font-size: 18px;
}

.nav {
  z-index: 100;
  top: 0;
}

.sign-in {
  background-color: #06f;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  height: 30px;

  min-width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solod black;
  background: white;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .app-name,
  .right-nav {
    font-size: 16px;
  }

  .right-nav {
    flex-direction: column;
  }
}
